html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Canvas
    body
        canvas.canvas(width="600" height="600")
        .control-panel
            output.output оличество циклов: 0
            button.start Старт/Стоп
            button.reset Очистить
