.canvas {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin: 40px;
  cursor: crosshair;
  background-image: url('../assets/images/grid.png');
}

.control-panel {
  margin: 0 40px 40px 40px;
  label {
    margin: 0 5px;
  }
  button {
    display: block;
  }
}
